body, html {
  background-color: #162c42;
  color: #404040;
  font: 11px Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
}

/**********************************************************************/
/***                    Begin Layout Definitions                    ***/
/**********************************************************************/

/*** Begin Page Containers ***/

#pagecontainer {
  width: 100%;
  min-width: 1000px;
  margin: 0;
  zoom: 1;
}

/*** End Page Containers ***/

/*** Begin Page Header ***/

#headercontainer {
  width: auto;
  height: 94px;
  background: url(../images/bg_header.jpg) repeat-x left top;
  padding: 0;
  margin: 0 auto;
}

#logobox {
  float: left;
  width: 172px;
  padding: 22px 5px 23px 10px;
}

#SIDESlogobox {
  float: right;
  width: 172px;
  padding: 22px 55px 23px 10px;
}

#statelogobox {
  float: left;
  width: 500px;
  padding: 22px 5px 23px 15px;
}

#logininfobox {
  float:left;
  margin:25px 0 0 25px;
}

#userFeinSein {
  float: left;
  width: 140px; 
}

.userinfo {
  float: left;
  margin: 7px 10px 0 0;
  color: #ffffff;
  width: 120px;
}


#mainnavbox {
  /*float: left;
  margin: 48px 0 0 0;*/
  position:absolute;
  left:242px;
  top:48px;
  width:744px;
}


/*** End Page Header ***/

/*** Begin Page Footer ***/

#footercontainer {
  width: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 9px 10px 9px 10px;
  margin: 0;
}

/*** End Page Footer ***/

/*** Begin Main Content ***/

#maincontainer {
  background: #ffffff url("../images/bg_main.gif") repeat-y left top;
  padding: 0;
}

#maincontainer_logout {
  background: #FFFFFF none repeat scroll 0 0;
  padding: 0;
}

#leftbar {
  width: 200px;
  float: left;
  
}
 
#leftnavbox {
  border-bottom: 1px solid #c8cccf;
  border-right: 1px solid #c8cccf;
  border-left: 1px solid #c8cccf;
  background-color: #ffffff;
}

.s_leftbar_info {
  margin: 5px;
}


#maincontent {
  background-color: #ffffff;
  padding: 1px 0 20px 0; width: 100%;
}

#maincontainer #maincontent {
  width: 760px;
  float: left;
  padding: 1px 0 60px 0; 
}

div + #maincontent {
  float: left;  
}

.s_tabbedbox {
  border: 1px solid #cfcfcf;
  /*width: 963px;*/
  margin: 20px;/* 0 0 20px;*/
  padding-bottom: 20px;
}

.s_subtabsbox {
  border: 1px solid #cfcfcf;
  width: 963px;
  background: url("../images/bg_subtabs.gif") repeat-x 0 27px;
}

.s_subtabsboxad {
  border: 1px solid #cfcfcf;
  
  width:  762px;
  background: url("../images/bg_subtabs.gif") repeat-x 0 27px;
}

.s_searchbox {
  width: auto;
  margin: 5px;
}

.s_sbcontent  {
  border-left: solid 1px #b6c2d2;
  border-right: solid 1px #b6c2d2;
  background-color: #d4dde8;
}

.s_sbtopleft {
  background: url(../images/bg_search_topleft.gif) no-repeat top left;
}

.s_sbtopright  {
  background: url(../images/bg_search_topright.gif) no-repeat top right;
  margin-left: 10px;
}

.s_sbbottomleft {
  background: url(../images/bg_search_bottomleft.gif) no-repeat bottom left;
}

.s_sbbottomright  {
  background: url(../images/bg_search_bottomright.gif) no-repeat bottom right;
  margin-left: 10px;
}

.s_sbtopleft, .s_sbtopright, .s_sbbottomleft, .s_sbbottomright {
  height: 22px; font-size: 1px;
}

.s_centeredouter {
  display: table;
  margin: 0 auto;
}

.s_centeredouter {
  display: table-cell;
}

/* IE/Mac \*//*/
* html .centeredouter {
  display: block;
  margin: 0;
  text-align: center;
}
* html .centeredinner {
  display: inline-block;
  width: 1px;
  white-space: nowrap;
}
/**/

* html .s_centeredouter {
  display: block;
  margin: 0;
  text-align: center;
}
* html .s_centeredinner {
  display: inline;
  _height: 0;
  zoom: 1;
}


/*** End Main Content ***/

/*** Begin Form Definitions ***/

form {
  margin: 0;
  padding: 0;
}


input, textarea, select {
  float: left;
  font: 11px Arial, Helvetica, Sans-Serif;
  color: #404040;
  margin: 1px 0;
}


.s_input{
  float:right
  font: 11px Arial, Helvetica, Sans-Serif;
  color: #404040;
  margin: 1px 0;

}

input {
  padding: 1px;
}

input.s_longtext, input.s_mediumtext, input.s_shorttext, select.s_long, select.s_medium, select.s_short {
  margin-right: 5px;
}

input.s_longtext {
  width: 200px;
}

input.s_mediumtext {
  width: 160px;
}

input.s_shorttext {
  width: 20px;
}

.s_long {
  width: 100px;
}

select.s_long {
  width: 206px;
}

select.s_medium {
  width: 166px;
}

select.s_short {
  width: 57px;
}

.s_formfieldsset {
  /*width: 800px;*/
  margin-top: 20px;
}

.s_tabbedbox .s_formfieldsset {
  width: 950px;
}

.s_sbcontent .s_formfieldsset {
  width: 870px;
  margin-top: 0px;
}

.s_fieldssetleft, .s_fieldssetcenter, .s_fieldssetright {
  float: left;
  width: auto;
}

.s_formrow {
  /*border: 1px solid #cfcfcf;*/
  /* width: 425px; */
  /*
  display: block;
  float: left;
  */
  margin: 0 0 0 20px;
  padding: 2px 0 0 0;
}

.s_searchbox .s_formrow {
  width: auto;
}

.s_searchbox .s_fieldssetleft .s_formrow {
  width: 270px;
}

.s_searchbox .s_fieldssetright .s_formrow {
  width: 400px; 
  
}
.s_fieldssetright .s_formrow {
  width: 335px;
}

.s_radiotxt {
  /*float: left;*/
  line-height: 20px;
  margin: 0 20px 0 3px;
  vertical-align: top;
}

.s_radiotxt_three {
  /*float: left;*/
  line-height: 20px;
  margin: 0 10px 0 3px;
  vertical-align: top;
}

.s_colon {
  float: left;
  line-height: 20px;
  margin: 0 5px 0 0;
}

.s_formbuttons {
  width: 760px;
  margin-top: 20px;
}

.s_formbuttonsad {
  width: 350px;
  margin-top: 20px;
  margin-right: 25px;
}

.s_tabbedbox .s_formbuttons {
  width: 335px; 
  margin: 20px 0 0 143px;
}

.s_tabbedbox .s_searchbox .s_formbuttons {
  width: 522px;
  margin: 20px 0 0 0px;
}
.s_buttonbg {
  width: auto;
  background: url(../images/btn_submit_left.gif) no-repeat left top;
  margin: 5px 5px 0 0;
        padding: 0 0 0 2px;
  float: left;
}

.s_button {
  float: left;
  width: 75px;
        display: block;
  color: #ffffff;
  font-weight: bold;
  font: 11px Arial, Helvetica, Sans-Serif;
  border: 0;
  margin: 0;
  cursor: pointer;
  background: url(../images/btn_submit_right.gif) no-repeat right top;
  padding: 0 13px 0 11px; 
  height: 19px
}

.s_cancel {
  background: url(../images/btn_submit_left.gif) no-repeat left top;
}

.s_cancel .s_button {
  background: url(../images/btn_submit_right.gif) no-repeat right top;
}

/*** End Form Definitions ***/

/*** Begin Tables Definitions ***/
.s_scrollabletbl {
  /*width: 930px;*/
  margin: 20px 15px 0 15px;
}

table {
  border-bottom: 1px solid #c4cedb;
  border-right: 1px solid #c4cedb;
  margin: 0 0 0 20px;
  /*width: 930px;*/
}

.s_group table
{
  min-width: 450px;
}
.s_scrollabletbl table {
  /*width: 2350px;*/
  margin: 0;
}

.s_scrollabletbl table.s_narrow {
  /*width: 1310px;*/
}
.s_formfieldsset table {
  margin-top: 0;
  width: 440px;
}

tr.s_header {
  background-color: #849cb6;
  color: #ffffff;
  font-weight: bold;
}

tr.s_subheader {
  background-color: #d4dde8;
  font-weight: bold;

}

tr.s_oddrow {
  background-color: #ffffff;
}

tr.s_evenrow {
  background-color: #f2f2f2;
}

tr.s_selected {
  background-color: #fff590;
}

td, th {
  border-top: 1px solid #c4cedb;
  border-left: 1px solid #c4cedb;
  /*border: 1px solid red;*/
  padding: 3px;
  vertical-align: top;
}

tr.s_header td {
  padding: 4px 5px;
}

tr.s_total td, tr.s_total th {
  border-top: 2px solid #c4cedb;
}

td.s_total {
  font-weight: bold;
  text-align: right;
}

td.s_empty, th.s_empty {
  border: 0;
  background-color: #ffffff;
}

/*** End Tables Definitions ***/

/*** Begin Images Definitions ***/

img {
  /*display: block;*/
  border: 0;
}

form img {
  margin: 0;
}

/*** End Images Definitions ***/

/*** Begin Anchor Tag Definitions ***/

#logininfobox a{
  color: #ffffff;
  float: left;
        background: url("../images/btn_logout_left.gif") no-repeat left top;
        margin: 0;
        padding: 0 0 0 2px;
        text-decoration: none;
} /* sign out button */

#logininfobox a span{
  float: left;
        display: block;
        background: url("../images/btn_logout_right.gif") no-repeat right top;
        padding: 7px 15px 11px 13px;
  cursor: pointer;
} /* sign out button */

#mainnavbox a{
  width: 123px;
  color: #ffffff;
  float: left;
  background: url("../images/bg_maintabs_off.gif") no-repeat left top;
  margin: 7px -1px 0 0;
  padding: 0 0 0 2px;
  text-decoration: none;
  position: relative;
} /* main tabs */

#mainnavbox a span{
  width:123px;
  height:24px;
  float: left;
  display: block;
  background: url("../images/bg_maintabs_off.gif") no-repeat right top;
  padding: 9px 0 0 0;
  text-align:center;
  font-weight: bold;
  cursor: pointer;
} /* main tabs */

#mainnavbox a.current{
  margin: 0 -1px 0 0;
  background: url("../images/bg_maintabs_on.gif") no-repeat left top;
} /* main tabs */

#mainnavbox a.current span{
  height:31px;
  padding: 16px 0 0 0;
  background: url("../images/bg_maintabs_on.gif") no-repeat right top;
} /* main tabs */

#leftnavbox a {
  border-top: 1px solid #c8cccf;
  padding: 5px 0 5px 10px;
  display: block;
  width: 172px;
  height: 14px;
  color: #404040;
  text-decoration: none;
}

#leftnavbox a.current {
  font-weight: bold;
  background: url("../images/icn_arrow.gif") no-repeat 167px 7px;
}

.s_subtabsbox a{
  width: 145px;
  color: #404040;
  float: left;
        background: url(../images/bg_subtabs_off.gif) no-repeat left top;
        margin: 2px 2px 0 -1px;
        padding: 0 0 0 2px;
        text-decoration: none;
  position: relative;
} /* sub-tabs */

.s_subtabsbox a span{
  width: 145px;
  height: 20px;
  float: left;
        display: block;
        background: url("../images/bg_subtabs_off.gif") no-repeat right top;
        padding: 6px 0 0 0;
  text-align: center;
  cursor: pointer;
} /* sub-tabs */

.s_subtabsbox a.current{
  background: url(../images/bg_subtabs_on.gif) no-repeat left top;
} /* sub-tabs */

.s_subtabsbox a.current span{
  background: url("../images/bg_subtabs_on.gif") no-repeat right top;
} /* sub-tabs */
/*** End Anchor Tag Definitions ***/


.s_subtabsboxad a{
  width: 145px;
  color: #404040;
  float: left;
        background: url(../images/bg_subtabs_off.gif) no-repeat left top;
        margin:  2px 2px 0 -1px;
        padding: 0 0 0 2px;
        text-decoration: none;
  position: relative;
} /* sub-tabs */

.s_subtabsboxad a span{
  width: 145px;
  height: 20px;
  float: left;
        display: block;
        background: url("../images/bg_subtabs_off.gif") no-repeat right top;
        padding: 6px 0 0 0;
  text-align: center;
  cursor: pointer;
} /* sub-tabs */

.s_subtabsboxad a.current{
  background: url(../images/bg_subtabs_on.gif) no-repeat left top;
} /* sub-tabs */

.s_subtabsboxad a.current span{
  background: url("../images/bg_subtabs_on.gif") no-repeat right top;
} /* sub-tabs */


/*** Begin Page Headers, Paragraphs and Text Definitions ***/

h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 7px 0 0 0;
  color: #550200;
  text-align: center;
  
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0 0 0;
  color: #550200;
  text-align: center;
  text-decoration:underline; 
}
h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 7px 0 5px 5px;
  color: #550200;
}

h3 {
  font-size: 11px;
  font-weight: normal;
  margin: 5px 40px 0px 40px;
  color: #000000;
  text-align: left;
}

.s_formfieldsset h1 {
  width: 504px;
  margin: 7px;
  text-align: center;
  
}

.s_searchbox .s_formfieldsset h1 {
  margin: 0;
  width: 260px;
}

.s_mainTxt {
  font: 11px Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
}

.s_requirednote {
  width: 785px;
  text-align: right;
  margin: 0 0 60px 0;
}

.s_tabbedbox .s_requirednote {
  width: 953px;
  margin: 0;
}

.s_required {
  color: #d80901;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

.s_required_2 {
  color: #d80901;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
}

.s_ortxt {
  float:left;
  font-weight: bold;
  margin: 3px 5px 0 0;
}

/*** End Page Headers, Paragraphs and Text Definitions ***/

.s_placeright {
  float: right;
}

.s_hideshow {
  display: none;
}
.s_placeleft {
  float: left;
}

.s_btn {
  float: left;
  margin: 3px 5px 0 0;
}
/**********************************************************************/
/***                     End Layout Definitions                     ***/
/**********************************************************************/

/**********************************************************************/
/***                    Begin Floaters Clearing                     ***/
/**********************************************************************/

#headercontainer:after, #loginbox:after, #mainnavbox:after, #maincontainer:after, .s_formfieldsset:after, .s_group:after, .s_formrow:after,  .s_control_cell:after, .s_radiobtnsset:after, .s_radiobtnsset_long:after, .s_placeright:after, .s_formbuttons:after, .s_sbcontent:after, .s_subtabsbox:after {
      content: ".";
      display: block;
    height: 0;
      clear: both;
      visibility: hidden;
}

#headercontainer, #loginbox, #mainnavbox, #maincontainer, .s_formfieldsset, .s_formrow, .s_control_cell, .s_radiobtnsset, .s_radiobtnsset_long, .s_placeright, .s_formbuttons, .s_sbcontent, .s_subtabsbox {
  display: inline-block;
}

/* Hides from IE-mac \*/
*html #headercontainer, *html #loginbox, *html #mainnavbox, *html #maincontainer, *html .s_formfieldsset, *html .s_formrow, *html .s_control_cell, *html .s_radiobtnsset, *html .s_radiobtnsset_long, *html .s_placeright, *html .s_formbuttons, *html .s_sbcontent, *html .s_subtabsbox {
  height: 1%;
}

#headercontainer, #loginbox, #mainnavbox, #maincontainer, .s_formfieldsset, .s_control_cell, .s_formrow, .s_radiobtnsset, .s_radiobtnsset_long, .s_placeright, .s_formbuttons, .s_sbcontent, .s_subtabsbox  {
  display: block;
}
/* End hide from IE-mac */

/**********************************************************************/
/***                     End Floaters Clearing                      ***/
/**********************************************************************/

/* added by pauld */
.s_errors {
  font-weight: bold;
  color: red;
}
.s_infoMessage
{
  font-weight: bold;
}
.s_errors h2{
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
  color: red;
}

.s_field_error {
  width:100%;
  float:left;
  text-align: left;
  font-weight: bold;
  color: red;
  /*padding: 0 30px 10px 0;*/
}

.s_errors ul {
  list-style: none;
  margin-left: 50px;
  font-weight: bold;
  color: red;
}


img.s_help_img   {
  display: inline-block;
  
}

.s_buttonbg1 {
  /*border: 5px solid red;*/
  float: none;
  display: inline-block;
  _display: inline;
  width: auto;
  background: url(../images/btn_submit_left.gif) no-repeat left top;
  margin: 1px 5px 0 0;
    padding: 0 0 0 2px;
}

.s_button1 {
  float: none;
  display: inline-block;
  width: 85px;
  color: #ffffff;
  font-weight: bold;
  font: 11px Arial, Helvetica, Sans-Serif;
  border: 0;
  margin: 0;
  cursor: pointer;
  background: url(../images/btn_submit_right.gif) no-repeat right top;
  padding: 0 5px 0 5px; 
  height: 19px
}

.s_cancel .s_button1 {
  background: url(../images/btn_cancel_right.gif) no-repeat right top;
}
/* inline-block fix for IE */
.inline-block-fix {
  display:inline-block !important; // for Safari, Opera, and IE 7
  display:-moz-inline-box !important; // for Mozilla
  -moz-box-orient:vertical;
  zoom: 1; display: inline; // for IE 6
  vertical-align:top;
}

.s_help {
         width:320;
         height:250;
         background:#E9EFF4;
         border:1px solid #C4D5E3;
         padding:10px;
         margin-bottom:20;
         font-family:arial;
         font-size:12px;
}

.s_textarea {
   width:200px;
   height:50px;
   border:1px solid #ccc;
   background:#f2f2f2;
   padding:6px;
   overflow:auto;
}

.loading_indicator_parent {
  position:relative;
}

#loading_indicator {
  opacity:0;
  filter: alpha(opacity = 0);
  zoom: 1;
}

/* classes for main dasboard request info boxes */
.s_reqbox_odd {
  width: auto;
  margin: 1px 0 0 5px;
  background-color: #D0CCFF;
  border: solid 1px #b6c2d2;
}

.s_reqbox_even {
  width: auto;
  margin: 1px 0 0 5px;
  background-color: #EBE9DA;
  border: solid 1px #b6c2d2;
}

.s_reqbox_none {
  width: auto;
  margin: 1px 0 0 5px;
  background-color: #FFFFFF;
}

.s_rbtopleft {
  background: url(../images/bg_req_odd_topleft.gif) no-repeat top left;
}

.s_rbtopright  {
  background: url(../images/bg_req_odd_topright.gif) no-repeat top right;
  margin-left: 10px;
}

.s_rbbottomleft {
  background: url(../images/bg_req_odd_bottomleft.gif) no-repeat bottom left;
}

.s_rbbottomright  {
  background: url(../images/bg_req_odd_bottomright.gif) no-repeat bottom right;
  margin-left: 10px;
}

.s_rbtopleft, .s_rbtopright, .s_rbbottomleft, .s_rbbottomright {
  height: 22px; font-size: 1px;
}

.s_rbcontent  {
  display: block;
  margin: 0;
  padding: 10px 0; 
}

.s_rbformrow {
  display: block;
  float: none;
  width: auto;
  padding: 2px 0 0 10px;
}
.s_messagerow {
  display: block;
  float: none;
  width: auto;
  margin: 0 0 0 50px;
  padding: 2px 0 0 0;
}

.s_rbcontent .s_rbformrow {
  width: auto;
}

.s_rbcontent .s_formfieldsset {
  margin: 0;
}
.s_rbcontent .s_fieldssetleft .s_rbformrow {
  width: 190px;
}

.s_rbcontent .s_fieldssetcenter .s_rbformrow {
  width: 190px; 
}

.s_rbcontent .s_fieldssetright .s_rbformrow {
  width: 190px; 
}

.s_rbhelp_container {
  display: inline-block;
  margin:30px 10px 30px 0;
  width: auto;  
  height: 100%;
  float:right;
}

.s_rbcontent .s_rblabel {
  float: none;
  display: inline-block;
  width: auto;
  font-weight: normal;
}
.s_rbvalue {
  float: none;
  display: inline-block;  
  width: auto;
  font-weight: bold;
}

/*
.s_rbcontent .s_buttonbg {
  width: 100%;
}
*/

.s_rbcontent .s_button1 {
  width: 100px;
  padding: 0 1px 0 1px; 
}

.s_rbcontent a {
  font-style: normal;
  font-color: black;
  font-weight: bold;
}

hr {
  float:left;
  display: block;
  margin:5px 0 0 5px;
  width: 100%;
}

.s_group hr {
  width: 755px;
}

.s_buttonlinkpdf_bg {
  width: 100%;
    float: left;
}
/* makes html button look like a link */
.s_buttonlinkpdf {
  background: transparent url(../images/pdficon_small.gif) no-repeat left center;
  text-decoration:underline; 
  font-style: normal;
  font-color: black;
  font-weight: bold;
  text-align: left;
  /*background-color:  #bdd1d7;*/
  margin: 0;
  padding:           0 0 0 17px;
  border-width:      0;  
  cursor:            pointer;
}

.s_buttonlink_bg {
  width: 100%;
    float: left;
}

.s_buttonlink {
  text-decoration:underline; 
  font-style: normal;
  font-color: black;
  font-weight: bold;
  text-align: left;
  background-color:  white;
  margin: 0;
  border-width:      0;  
  cursor:            pointer;
}

.s_errors .s_buttonlink {
  padding: 0 0 0 15px;
  color: red; 
}
#logout-success {
    margin: 0 0 0 205px;
}

#logout-success h1 {
    width: auto;
    text-align: left;
}
#logout-success h2 {
    margin:20px 0;
}

#logout-success a {
  font-weight: bold;
  border:1px solid #C8CCCF;
  color:#404040;
  display:block;
  height:14px;
  padding:5px 0 5px 10px;
  text-decoration:none;
  width:65px;
}

.s_searchbox .dijitTextBox {
  width: 125px;
}

label {
  float: left;
  width: 200px;
  padding: 0;
  margin: 3px 5px 0 0;
  font-weight:bold;
}

.s_fieldssetleft label {
  width: auto;
}

.s_fieldssetcenter label {
  width: auto;
}

.s_fieldssetright label {
  width: auto;
}

.s_searchbox .s_fieldssetright label {
  width: 125px;
}

.s_searchbox label {
  width: auto;
}
.s_searchbox .s_fieldssetleft label {
  width: 70px;
}

/*************************/

.s_group {
  display: block;
  margin-top: 20px;
  float: left;
  width:100%;
}

.s_table_group {
  margin-bottom: 20px;
}

.s_subgroup {
  display:block;
  float:left;
  border: 1px solid #cfcfcf;
  margin-left: 20px;
  padding: 5px 5px 5px 0;
}
.s_groupleft, .s_groupcenter, .s_groupright {
  float: left;
  width: 360px;
  margin:0;
}

.s_gray_text {
  color:#cfcfcf;  
}
.s_h3group {
  float: left;
  margin: 0;
  width: 100%;
}

.s_left_header_label_short {
  font-size: 11px;
  line-height: 1.5em;
  margin: 0 0 0 286px;
  float: left;
  color:#550200;
  font-weight:bold;
}

.s_right_header_label_short {
  width: 300px;
  margin: 0;
  color:#550200;
  font-weight:bold;
  text-align: right;
  display: inline-block;
    float: left;
}

.s_right_header_label_1 {
  color:#550200;
  font-weight:bold;
  float: left;
  margin: 0 0 0 118px;
}
.s_right_header_label_2 {
  border: none;
  color:#550200;
  font-weight:bold;
  font-size: 11px;
  line-height: 1.5em;
  float: left;
  margin: 0px 0px 0px 55px;
}
.s_right_header_label_3 {
  color:#550200;
  font-weight:bold;
  margin: 0 0 0 480px;
}
.s_oddrow {
  background-color: #ffffff;
}

.s_evenrow {
  background-color: #f2f2f2;
}

.s_right_header_label_long {
  width: 333px;
  margin: 0;
  color:#550200;
  font-weight:bold;
  text-align: right;
  display: inline-block;
    float: left;
}

.s_right_header_label {
  width: 695px;
  margin: 0;
  color:#550200;
  font-weight:bold;
  text-align: right;  
}

.s_question_label_very_short  {
  width: 92px;
  font:10px Arial,Helvetica,Sans-Serif;
}

.s_question_label_short {
  width: 120px; 
}

.s_question_label_medium {
  width: 260px;
  margin-right:20px;  
}

.s_question_label_medium_inset {
  width: 173px;
  margin:3px 5px 0 25px;  
}

.s_question_label_medium_bold {
  width: 200px; 
  font-weight:bold;
}

.s_question_label_long {
  width: 455px; 
}

.s_question_label_long_bold {
  width: 455px; 
  font-weight:bold;
}

.s_question_label_long_inset {
  width: 430px; 
  margin:3px 5px 0 25px;
}

.s_question_label_long_inset2x {
  width: 405px; 
  margin:3px 5px 0 50px;
}

.s_question_label_full {
  width: 677px; 
}

.s_question_label_full_inset {
  width: 652px; 
  margin: 3px 5px 0 25px;
}

.s_question_label_full_bold {
  width: 677px; 
  font-weight:bold;
}
.s_question_label_full_underlined {
  width: 677px; 
  text-decoration: underline;
}
.s_question_label_full_bold_large {
  font-size: 12px;
  width: 677px; 
  font-weight:bold;
  
}
.s_ref_label  {
  font-weight:bold;
  width: 170px; 
} 
.s_ref_label_long  {
  font-weight:bold;
  width: 250px; 
}

.s_value_label {
  font-weight:bold;
  width: 200px;
}
.s_value_input {
  float:left;
  width:220px;
}
/*
.s_group h2 {
  width: 300px;
}
*/
.s_radiobtnsset {
  float: left;
  width: 215px;
  margin-right: 7px;
}

.s_radiobtnsset input {
  float: left;
}

.s_radiobtnsset_long {
  float:left;
  width: 682px;
}

.s_radiobtnsset .dijitRadio {
  margin-top: 0px;
}
.s_radiobtnsset_long .dijitRadio {
  float: left;
}
.s_radiobtnsset_long input {
  float: left;
}

.s_radiobtnsset_long .dijitCheckBox {
  float: left;
}
.s_group .dijitTextBox {
  width: 215px;
  margin-top: 3px;
  vertical-align:top;
}
.s_group .dijitComboBox {
  margin-top: 2px;
  vertical-align:top; 
  width: 215px;
}

#sepReasonFormrow .dijitComboBox
{
  width: 375px;
}

#ct_user_edit .dijitPopup {
  width: 215px;
}

#ct_user_edit .dijitMenu {
  background-color: #f7f7f7;
  width: 215px;
}

.s_group .dijitTextArea {
  width: 670px;
  display:inline-block;
  float: left;
  
    min-height:8.5em !important;
    max-height:22em !important;
    overflow-y: auto !important;  
}
.s_textareadbox .dijitError {
  background-color:#F9F7BA;
  background-image:none;
  border-color:#F3D118;
}
.s_textareadbox {
  /*border: 1px solid red; */
  width: 685px;
  float: left;
}

.s_radiobtnsset_long .s_radiotxt {
  display: block;
  margin-left: 20px;
} 

.s_radiobtnsset_long .s_radiotxt_three {
  display: block;
  margin-left: 20px;
}

.s_label_textarea {
  float:left;
  min-height:50px;
  margin-right:52px;
  width: 630px;
}

.s_value_textarea {
  float:left;
  margin-right:52px;
  width: 630px;
}

.s_control_box {
  display: block;
  float: left;
  width: 100%;
  margin: 50px 0 10px 5px;
  /* background-color: #FFFFFF; */
  /* background-color:#EBE9DA; */
}
.s_control_box_row {
  display: block;
  float: left;
  width: auto;
  margin: 10px 0 5px 5px;
  /* background-color: #FFFFFF; */
  /* background-color:#EBE9DA; */
}

.s_control_col_left {
  float: left;
  width: 130px;
  margin: 0 5px 0 5px;
}

.s_control_col_center {
  float: left;
  width: 435px;
  margin: 0 5px 0 5px;
}

.s_control_col_right {
  float: left;
  width: 130px;
  margin: 0 5px 0 5px;
}

.s_control_cell {
  /*border: 1px solid #cfcfcf;*/
  width: auto;
  height: 27px;
}

#cancel_save_cell {
  padding:0 0 0 80px;
}
#cancel_save_row_cell {
  padding:0 0 0 120px;
}
#edit_delete_row_cell{
  padding:0 0 0 120px;
}

.s_control_box label
{
  width: auto;
  margin: 5px;
  font-weight:bold;
}

.s_control_box .dijitSelect {
  float: left;
  margin: 4px 5px 0 0;
  width: 300px;
}

.s_control_box .dijitSelect td.dijitStretch {
  width: 275px;
}

.s_control_box .s_buttonbg {
  margin: 2px 5px 0 0;
} 

#goto_cell .s_button1 {
  width: 35px;    
}
.s_control_col_right .s_buttonbg {
  float: right;
}

td .s_buttonbg {
  margin: 0;
}

#pagenumber {
        position: absolute;
         right: 10px;
}

.s_response_header {
  margin-top: 5px;
  margin-left: 5px;
  text-align:center;
}

/*login form classes*/
.s_login_label {
  margin-top: 6px;
  text-align: right;
  width: 240px; 
  font-weight:bold;
}

/* submission errors box */
.s_val_error_box {
  margin-top: 10px;
  width: 400px;
}
.fieldssetleft .dijitTextBox {
  vertical-align: baseline;
}

/* sep reason */
.s_formrow_sepreason {
  margin: 0 0 0 20px;
  padding: 2px 0 0 0;
}

.s_question_label_sepreason {
  width: 295px; 
  font-weight:bold;
}

.s_formrow_sepreason .dijitComboBox {
  margin-top: 2px;
  vertical-align:top; 
  width: 375px;
}
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.divider{
    width:25px;
    height:auto;
    display:inline-block;
}